@font-face {
    font-family: 'Calibri';
    src: url('/static/calibri-font-family/fonts/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/static/calibri-font-family/fonts/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/static/calibri-font-family/fonts/calibri-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.body {
    font-family: 'Calibri', sans-serif;
    margin: 40px;
    background-color: #fafafa;
    color: #333;
}

.bold {
font-family: 'Calibri', sans-serif;
colour: #333
font-weight: bold;
}

.bold-italic {
font-family: 'Calibri', sans-serif;
colour: #333
font-weight: bold;
font-style: italic;
}

.italic {
font-family: 'Calibri', sans-serif;
colour: #333
font-style: italic;
}

.menu_option {
background-color: #a9ba9b;
border: 5px #8b997f;
font-family: 'Calibri', sans-serif;
color: #333;
font-weight: bold;
}

/* Relevant class variables and how to call them:
/*.trial {
background-color: #fe4eda;
border: 2px solid green;
font-family: 'Calibri', sans-serif;
color: #304e5e;
font-weight: bold;
font-style: italic;
}*/
