<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Title</title>
</head>
<body>
    <div class="bold">
        <h1>Form Selection</h1>
        </div>
        <p>Welcome to the form selection page.</p><br>
            <p>Please select the most appropriate form to proceed.</p>

        <a class="menu_option" href="/international/adult/form">International Adult - Registration Form</a><br>
        <a class="menu_option" href="/national/adult/form">National Adult - Registration Form</a><br>
        <a class="menu_option" href="/international/child/form">International Child - Registration Form</a><br>
        <a class="menu_option" href="/national/child/form">National Child - Registration Form</a>

</body>
</html>